@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');


.navbar {
    box-shadow: 0 5px 10px #000;
    text-transform: uppercase;
}

#nav-design {
    font-size: 26px;
    font-weight: 700;
    font-family: Sans-Serif;
    color: #0d010a;

}

.nav-design1 {
    font-size: 25px;
    font-weight: 700;
    font-family: Sans-Serif;
    color: orange;
}

nav {
    background-color: #9b9c98;
    text-transform: uppercase;
}

.btn {
    border-width: 0;
    border: none;
}

#nav-home {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    font-family: Sans-Serif;
    letter-spacing: 1px;
    animation: all .5s ease;
}

#nav-home.active,
#nav-home:hover {
    color: #000;
}

/*hoe.......*/
.home-contaner1 {
    background-image: linear-gradient(to left, #807c7c, #0d0d0c);
    background-size: cover;
    height: 100vh;
    position: relative;
    margin-top: 65px;
}

.home-container {
    margin: 0;
    padding: 0;
    background-image: url("https://yt3.ggpht.com/vPfLRtWVqQzV0ge9IqnLm9Ynbp8NziY-1BhaI2Vu1vJ9ne4z5G_dbCW8EAKP1h0p70AVF5gyAiML=s640-c-fcrop64=1,00000a8fffffdb61-nd-v1");
    background-size: cover;
    height: 100vh;
}

.home-heading {
    font-size: 25px;
    font-weight: 600;
    font-family: Sans-Serif;
    color: #fff;
    padding-top: 150px;
    padding-left: 20px;
}

.home-heading1 {
    font-size: 25px;
    font-weight: 600;
    font-family: Sans-Serif;
    color: #fff;
    padding-left: 20px;
}

.multiple-text {
    font-size: 30px;
    font-weight: 600;
    font-family: Sans-Serif;
    color: #0ef;
}

.home-sub-heading {
    font-size: 35px;
    font-weight: 700;
    font-family: Sans-Serif;
    color: #ffffff;
    padding-left: 20px;
}

.home-btn {
    font-size: 20px;
    font-weight: 500;
    font-family: Sans-Serif;
    color: #fff;
    width: 160px;
    height: 40px;
    border-radius: 10px;
    border: none;
    background-color: #0ef;
    cursor: pointer;
    box-shadow: -2px 20px 30px -10px #000;
    margin-left: 20px;
    margin-top: 20px;
}

.home-btn:hover {
    transform: scale(1.1);
}

.ocial-media-icons {
    margin: 20px;
}

.social-media-icons a {
    display: inline-flex;
    width: 50px;
    height: 50px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 27px;
    color: #fff;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    margin: 30px 15px 30px 10px;
    transition: .5s ease;

}

.home-para {
    font-size: 18px;
    font-weight: 500;
    font-family: Sans-Serif;
    color: #e8d2d1;
    padding-left: 20px;
}

.social-media-icons a:hover {
    background: #0ef;
    color: #1f242d;
    box-shadow: 0 0 20px #0ef;
}

/*...my about ..*/

.about-container {
    background-color: #595f69;
    background-size: cover;
}

.about-heading {
    font-size: 30px;
    font-family: Sans-Serif;
    font-weight: 700;
    color: #fff;
    word-spacing: 1px;
    text-align: center;
    padding-top: 20px;
}

.about-intro {
    font-size: 20px;
    font-family: Sans-Serif;
    font-weight: 600;
    color: #2d7af7;
    word-spacing: 1px;
    text-align: center;

}

.about-image {
    width: 350px;
    height: 400px;
    margin: 10px;
    box-shadow: 10px 10px 20px #fff;
    border-radius: 5px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: 5s linear;
}

.about-image:hover {
    transform: rotateY(180deg);
}

.about-main-heading {
    font-size: 20px;
    font-family: Sans-Serif;
    font-weight: 500;
    color: #e8f70c;
    word-spacing: 1px;
    padding-left: 20px;
    padding-top: 20px;
}

.about-sub-heading {
    font-size: 30px;
    font-family: Sans-Serif;
    font-weight: 600;
    color: #fff;
    word-spacing: 1px;
    padding-left: 20px;
}

.about-intro1 {
    font-size: 17px;
    font-family: Sans-Serif;
    font-weight: 400;
    color: #d3d4c5;
    word-spacing: 1px;
    padding-left: 20px;
    padding-right: 10px;
}

.about-btn {
    display: inline-block;
    padding: 12px 28px;
    background: linear-gradient(#b0afac, #106ae8);
    border-radius: 40px;
    width: 160px;
    height: 50px;
    box-shadow: -2px 20px 30px -10px #000;
    font-size: 18px;
    color: #fff;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    text-align: center;
    transition: .6s ease;
    margin-left: 20px;
    margin-top: 20px;
}

.about-button {
    text-decoration: none;
}

.about-btn:hover {
    background: #0ef;
    text-decoration: none;
}

/*service..*/

.our-team-container {
    background-color: #fc0388;
    background-size: cover;

}

.our-service-main-heading {
    text-align: center;
    font-size: 35px;
    font-weight: 600;
    font-family: "Roboto";
    color: #fff;
    padding-top: 20px;
}

#line {
    color: #fff;
}

.our-servic-card-container {
    height: 300px;
    width: 250px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 10px 50px 55px -50px #000;
    position: relative;
    overflow: hidden;
    transform: scale(1.3);
    margin: 60px;
    margin-bottom: 70px;
}

.our-servic-card-container:before {
    content: '';
    position: absolute;
    height: 150px;
    width: 150px;
    background: linear-gradient(120deg, #0034c4, #828af3);
    right: 0;
    border-radius: 0 0 0 158px;
    box-shadow: 0 5px 3px #000;
    transition: 0.5s;
}

.our-servic-card-container.our-servic-card-container:hover::before {
    height: 100%;
    width: 100%;
}

.our-service-pro {
    top: 120px;
    position: absolute;
    padding-left: 20px;
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
    transition: 0.2s;
}


.our-servic-card-container:hover {
    color: #fff;
}

.our-service-btn {
    position: absolute;
    text-decoration: none;
    bottom: 30px;
    right: 60px;
    font-family: Sans-Serif;
    text-transform: uppercase;
    padding: 10px 20px;
    background: linear-gradient(120deg, #0034c4, #828af3);
    border-radius: 5px;
    border: none;
    color: #fff;
    font-weight: 500;
    letter-spacing: 1px;
    box-shadow: -2px 20px 30px -10px #000;
    height: 40px;
    width: 140px;
    font-size: 15px;
}

.our-service-btn:hover {
    text-decoration: none;
    color: #fff;
}

.our-service-heading {
    position: absolute;
    font-size: 25px;
    font-family: Sans-Serif;
    font-weight: 600;
    color: #141413;
    text-align: center;
    padding-top: 40px;
    margin-left: 30px;
    letter-spacing: 1px;
}

.front-icons {
    font-size: 25px;
    position: absolute;
    color: #fc0d79;
    padding-top: 10px;
}

.serivice-main-heading {
    font-size: 30px;
    font-weight: 700;
    font-family: Sans-Serif;
    color: #fff;
    text-align: center;
    padding-top: 20px;
}


/*..skils..*/


.about-me-section {
    background-color: #1f2933;
    background-size: cover;

}

.section-heading {
    font-family: "roboto";
    font-size: 20px;
    font-weight: 500;
    color: #cced00;
}

.section-card {
    background-color: #323f4b;
    width: 200px;
    height: 150px;
    border-radius: 10px;
}

.card-skillsimage {
    width: 120px;
    height: 100px;
    transition: 3s linear;
}

.card-skillsimage:hover {
    transform: scale(2.2);
}

.skills-heading {
    font-family: "roboto";
    font-size: 20px;
    font-weight: 500;
    color: #ffffff;
}

/*..Project..*/

.project-container {
    background-color: #070114;
    background-size: cover;

}

.project-main-heading {
    font-size: 30px;
    font-weight: 600;
    font-family: "Roboto";
    color: #fff;
    text-align: center;
    padding-top: 30px;
}

.project-design {
    font-size: 30px;
    font-weight: 600;
    font-family: "Roboto";
    color: #440fb8;
    text-align: center;

}

.project-image1 {
    width: 300px;
    height: 300px;
    border-radius: 5px;
    box-shadow: 1px 2px 7px 2px #2421de;
    margin-top: 20px;
    transition: 3s linear;
    margin: 30px;
}

.project-image1:hover {
    transform: rotateY(180deg);
    transform: scale(1.1);
}




.counter {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/portfolio-work-done-bg.png");
    background-size: cover;
}

.count-pragrapgh {
    font-size: 30px;
    font-weight: 600;
    color: #fff;
}

.hr-line {
    background-color: white;
    width: 60px;
}

.work-done-card-title {
    color: white;
    font-family: "Roboto";
    font-size: 36px;
    font-weight: 900;
}

.work-done-card-sub-title {
    color: white;
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 100;
}

.work-links {
    color: white;
    width: 70px;
    height: 70px;
}

/*.....OurTeam...*/

.team-container {
    background-color: #a6a49f;
    background-size: cover;
    margin-right: 0;
    padding: 0;
}

.team-main-heading {
    font-size: 35px;
    font-weight: 600;
    font-family: "Roboto";
    color: #fff;
    letter-spacing: 1px;
    padding-top: 20px;
    text-align: center;
    text-decoration: underline;
}

.team-card-container {
    box-shadow: 5px 5px 20px black;
    overflow: hidden;
    height: 450px;
    border-radius: 10px;
    margin: 50px;

    background-size: cover;
    width: 300px;
    position: relative;
}

.card-image {
    width: 300px;
    height: 500px;
}

.intro {
    height: 70px;
    width: 400px;
    padding: 6px;
    box-sizing: border-box;
    position: absolute;
    background: rgb(27, 27, 27, .5);
    color: #fff;
    bottom: 0px;

}

.team-card-container:hover {
    cursor: pointer;
}

.team-card-container:hover .intro {
    height: 220px;
    bottom: 0px;
    background: #000;
    border-radius: 10px;
    width: 300px;
}



.team-card-container:hover p {
    opacity: 1;
    visibility: visible;
}


.card-main-heading {
    font-size: 30px;
    font-weight: 700;
    font-family: Sans-Serif;
    color: #eaf2a5;
    letter-spacing: 1px;
    padding-top: 15px;
    padding-left: 10px;
}

.card-heading1 {
    font-size: 22px;
    font-weight: 700;
    font-family: Sans-Serif;
    color: #1132f0;
    letter-spacing: 1px;
    padding-top: 10px;
    padding-left: 10px;
}

.card-icons1 {
    font-size: 30px;
    margin: 10px;
    margin-top: 15px;

}

.card-main-heading1 {
    font-size: 30px;
    font-weight: 700;
    font-family: Sans-Serif;
    color: #eaf2a5;
    letter-spacing: 1px;
    padding-top: 15px;
    padding-right: 100px;
}

.card-heading2 {
    font-size: 22px;
    font-weight: 700;
    font-family: Sans-Serif;
    color: #1132f0;
    letter-spacing: 1px;
    padding-top: 10px;
    padding-right: 100px;
}

.card-main-heading5 {
    font-size: 30px;
    font-weight: 700;
    font-family: Sans-Serif;
    color: #eaf2a5;
    letter-spacing: 1px;
    padding-top: 15px;
    padding-right: 100px;
}


/*...fotter-section...*/

.footer-container1 {
    background-image: linear-gradient(to right, #6c6b6e 50%, #f53152);
    background-size: cover;
    position: relative;
}

.footer-container {
    background-image: linear-gradient(to right, #1f1e1e 50%, #f53152);
    background-size: cover;
    border-top-left-radius: 200px;
    transition: 5s;
    position: relative;
}


.footer-img {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    margin-top: 30px;
    border: 3px solid #1531e8;
    border-color: #1531e8;
}

.card-container {
    background-color: #1c0c12;
}

.footer-heading {
    font-size: 25px;
    font-weight: 500;
    font-family: Sans-Serif;
    color: #fff;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 0;
    text-decoration: underline;
}

.footer-heading1 {
    font-size: 25px;
    font-weight: 600;
    font-family: Sans-Serif;
    color: #fff;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 0;

}

.footer-pragraph {
    font-size: 18px;
    font-weight: 500;
    font-family: Sans-Serif;
    color: #fff;
    padding-left: 20px;
    padding-top: 10px;
}

.footer-icons {
    align-items: center;
    padding-bottom: 30px;

}

.icons {
    font-size: 30px;
    margin: 15px;
    background-color: #545755;
    height: 40px;
    width: 40px;
    text-align: center;
    align-items: center;
    border-radius: 5px;
    padding-top: 5px;
    color: #fff;
}

.icons:hover {

    box-shadow: 1px 1px 10px 10px #fff;
    background-color: #e81562;
}

.icons1 {
    font-size: 25px;
    color: #fff;
    margin-right: 10px;
    margin-bottom: 20px;
    margin-left: 20px;
    background-color: #545755;
    width: 40px;
    height: 40px;
    text-align: center;
    padding-top: 10px;
    align-items: center;
    border-radius: 20px;
}

.icons1:hover {
    text-decoration: none;
    background-color: #e81562;
    box-shadow: 1px 1px 10px 10px #fff;
}

.anchor-footer {
    font-size: 20px;
    font-weight: 500;
    font-family: "Roboto";
    color: #fff;
    text-decoration: none;
}

.anchor-footer:hover {
    text-decoration: none;
    color: #fff;
}

.btn {
    text-align: center;
}

.footer-btn {
    display: inline-block;
    padding: 12px 28px;
    background: #0ef;
    border-radius: 40px;

    font-size: 18px;
    color: #fff;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    width: 200px;
    height: 50px;
    box-shadow: -2px 20px 30px -10px #000;
    margin-bottom: 20px;
}

.footer-btn:hover {
    background-color: #f0073d;
    color: #fff;
    text-decoration: none;
}

.text {
    font-size: 18px;
    font-weight: 500;
    font-family: "Roboto";
    color: #807d7d;

}

.email {
    background-color: transparent;
    padding-left: 20px;
}

.msg {
    padding-left: 20px;
}

.input {
    background-color: transparent;
    border-color: #737170;
    outline: none;
    width: 75%;
    color: #fff;
}

.footer-bottom {
    background-color: #696763;
    font-size: 17px;
    font-weight: 500;
    font-family: "Roboto";
    color: #fff;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 5px;
}

iframe {
    border-radius: 20px;
    width: 100%;
    height: 500px;
    filter: invert(100%);
    cursor: pointer;
}

.design1 {
    color: green;
    font-size: 20px;
    font-weight: 500;
    font-family: "Roboto";
    margin-bottom: 40px;
}